@font-face {
    font-family: 'Bluu Next';
    src: url('../fonts/BluuNext-Bold.woff2') format('woff2'),
        url('../fonts/BluuNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bluu Next Italic';
    src: url('../fonts/BluuNext-BoldItalic.woff') format('woff2'),
        url('../fonts/BluuNext-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'source';
    src: url('../fonts/SourceSerifPro-Light.otf.woff') format('woff2'),
        url('../fonts/SourceSerifPro-Light.otf.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'sourcereg';
    src: url('../fonts/SourceSerifPro-Regular.otf.woff') format('woff2'),
        url('../fonts/SourceSerifPro-Regular.otf.woff') format('woff');
    font-weight: normal;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Bluu Next';
  margin: 0;
  padding: 10px;
  font-size: 16px;
  overflow-x: hidden;
}
body.home {
  padding: 10px;
  width: 100%;
}
h1, h2, h3, h4, p, ul, li {margin: 0; padding: 0; font-weight: normal;}

ul {list-style: none;}
.last {
  margin-bottom: 420px;
}
h1 {
  font-size: 1.125em;
  margin-bottom: 24px;
}
.inner h1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: .675em;
  text-align: center;
  margin: 0;
  padding: 8px;
  background: black;
  color: white;
  width: 100%;
  z-index: 60;
}
.inner h2 {
  margin-bottom: 20px;
  margin-top: 60px;
  font-size: .75em;
  text-transform: lowercase;
}
h2 {
  font-size: 1.325em;
  font-family: 'Bluu Next Italic';
}
.footnote {
  display: block;
  font-weight: italic;
  font-size: .675em;
  line-height: 1.45em;
  padding-left: 30px;
}
ul {
  margin-bottom: 12px;
  width: 100%;
}
ul li {
  margin-bottom: 26px;
  border-bottom: 1px solid black;
  font-size: .8675em;
  word-break: break-word;
  width: 50%;
}

p {
  font-size: .8675em;
  font-family: 'source';
  line-height: 1.75em;
  padding: 0;
  margin: 0 auto 12px auto;
  position: relative;
  z-index: 20;
}

.images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.images img {
  width: 50%;
  padding: 5px;
}
.images.lg img {
  width: 70%;
}
a {
  text-decoration: none;
  color: black;
}
p a {
  border-bottom: 1px solid yellow;
}
a.home {
  position: fixed;
  top: 65px;
  right: 10px;
  transform: rotate(90deg);
}
a:focus {
  outline: 0;
}
a:hover {
  text-shadow: 2px 2px 2px chartreuse;
}
em {
  color: mediumpurple;
}
strong {
  text-shadow: 2px 2px 2px chartreuse;
}
@media only screen and (min-width: 768px) {
  body {
    padding: 0 20px 60px 20px;
  }
  body.home {
    padding: 30px;
  }
  ul li {
    font-size: 3em;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .inner h2 {
    position: sticky;
    top: 0;
    left: 0px;
    font-size: 1.25em;
    background: white;
    padding: 10px 0 0 0;
    height: calc(80vh - 60px);
    z-index: 10;
    width: 20%;
    margin: 0;
  }
  .inner h1 {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: .675em;
    text-align: center;
    margin: 0;
    padding: 8px;
    background: black;
    color: white;
    width: 100%;
    z-index: 60;
  }
  p {
    margin: 0;
    padding: 0 15% 0 25%;
    font-size: 1.375em;
    line-height: 1.5em;
    width: auto;
  }
  .images {
    padding-left: 20%;
  }
  .images img {
    width: 25%;
    padding: 20px;
  }
  mark {
    font-family: monospace;
    position: absolute;
    right: 0;
    width: 15%;
    letter-spacing: .03em;
    font-size: .5675em;
    line-height: 1.125em;
    padding: 12px;
    background-color: transparent;
    border: 2px dashed #ddd;
    word-break: break-word;
  }
  mark strong {
    text-shadow: 2px 2px 2px yellow;
  }
  mark:before {
    position: absolute;
    left: -55%;
    background-image: url('../images/arrows.png');
    background-size: 100px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 30px;
    content:"";
    opacity: .5;
  }
}
