@font-face {
    font-family: 'Bluu Next';
    src: url('../fonts/BluuNext-Bold.woff2') format('woff2'),
        url('../fonts/BluuNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bluu Next Italic';
    src: url('../fonts/BluuNext-BoldItalic.woff') format('woff2'),
        url('../fonts/BluuNext-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Bluu Next';
  margin: 0;
  padding: 40px;
  font-size: 16px;
}

h1, h2, h3, h4, p, ul, li {margin: 0; padding: 0; font-weight: normal;}

ul {list-style: none;}

h1 {
  font-size: 1.125em;
  margin-bottom: 24px;
}
.inner h1 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1em;
}
.inner h2 {
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: -15px;
}
h2 {
  font-size: 1.325em;
  font-family: 'Bluu Next Italic';
}
ul {
  margin-bottom: 12px;
}
ul li {
  margin-bottom: 46px;
  border-bottom: 5px solid black;
  font-size: 3em;
}
p {
  font-size: 1.325em;
  font-family: monospace;
  line-height: 1.25em;
  padding: 0;
  margin: 0 auto 12px auto;
  position: relative;
  z-index: 20;
}
a {
  text-decoration: none;
  color: black;
}
p a {
  border-bottom: 1px solid hotpink;
}
a.home {
  position: fixed;
  top: 25px;
  right: -5px;
  transform: rotate(90deg);
}
a:focus {
  outline: 0;
}
a:hover {
  text-shadow: 2px 2px 2px chartreuse;
}
em {
  font-weight: bold;
}
strong {
  text-shadow: 2px 2px 2px chartreuse;
}
@media only screen and (min-width: 768px) {
  .inner h2 {
    position: sticky;
    top: 40px;
    left: 40px;
    font-size: 1em;
    background: white;
    padding: 40px;
    z-index: 10;
    width: 20%;
    margin: 0;
  }
  .inner h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1em;
  }
  p {
    padding: 0 2% 0 20%;
  }
}
